$primary-color: #1447e6;
$secondary-color: #343434;
$muted-color: #737373;

$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;

$border-color: #cecece;

$border-radius-sm: 0.2rem;
$border-radius: 0.8rem;
$border-radius-lg: 1rem;
$border-radius-xl: 1.2rem;
$border-radius-2xl: 1.4rem;

$shadow-sm: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
